@using RealEstateApp.Core.Application.ViewModels.Account;
@model SaveUserViewModel;
@{
    ViewData["Title"] = "Edit profile";
}

<div class="container d-flex justify-content-center">
    <div class="row col-8 d-flex justify-content-center">
        <div class="inputBackground rounded-5 py-5 cardCustomize col-8 border">
            <div class="d-flex py-4 justify-content-center col-12">
                <form method="post" asp-controller="Agent" asp-action="Edit"
                      class="d-flex justify-content-center">
                    <div class="col-12">
                        <div class="mb-4 d-flex justify-content-center gap-4 col-12">
                            <div class="col-10">
                                <div class="mb-3 d-flex justify-content-center">
                                    <img src="@Model.UserImagePath" class="rounded-circle" width="200" height="200" alt="Alternate Text" />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="FirstName" class="form-label fw-bold">FirstName</label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="LastName" class="form-label fw-bold">LastName</label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label fw-bold">Email</label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="PhoneNumber" class="form-label fw-bold">Phone number</label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="UserImage" class="form-label fw-bold">Photo</label>
                                    <input asp-for="UserImage" class="form-control" />
                                    <span asp-validation-for="UserImage" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="d-flex justify-content-center">
                            <div class="col-10">
                                <button type="submit"
                                        class="btn btn-info principalBlue btnPrincipalBlueHover border-0 w-100 fw-bold">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
